In [35]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt

In [36]:
#reading csv file
mushroom = pd.read_csv("mushrooms.csv")

In [37]:
column_list = list(mushroom.columns)

In [38]:
# Data cleaning
print("Data before cleaning :",len(mushroom))
for column_i in column_list:
    mushroom = mushroom.drop(mushroom.index[mushroom[column_i].isin(['?'])])
print("Data after cleaning :",len(mushroom))

Data before cleaning : 8124
Data after cleaning : 5644

In [39]:
column_list.remove('class')

In [40]:
def normalise_column(x):
    t = dic[x]
    return t

In [41]:
data = pd.DataFrame()
for column_name in column_list:
    list_state = list(set(list(mushroom[column_name])))
    maximum = len(list_state)
    minimum = 0
    t = enumerate(list_state)
    dic = {}
    for i,j in t:
        dic[j] = i
    data[column_name] = mushroom[column_name].apply(normalise_column)

In [42]:
data.head()

,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,0,0,2,0,2,1,0,1,7,1,...,0,1,1,0,0,1,0,5,1,2
1,0,0,4,0,0,1,0,0,7,1,...,0,1,1,0,0,1,0,3,2,5
2,5,0,1,0,6,1,0,0,4,1,...,0,1,1,0,0,1,0,3,2,0
3,0,1,1,0,2,1,0,1,4,1,...,0,1,1,0,0,1,0,5,1,2
4,0,0,7,1,3,1,1,0,7,0,...,0,1,1,0,0,1,2,3,0,5

In [43]:
from scipy.spatial.distance import pdist, squareform

distance = pdist(data, 'euclidean')
distance = pd.DataFrame(squareform(distance))
distance.head(10)

,0,1,2,3,4,5,6,7,8,9,...,5634,5635,5636,5637,5638,5639,5640,5641,5642,5643
0,0.000000,5.656854,8.366600,3.316625,6.928203,6.164414,6.782330,8.366600,7.211103,6.928203,...,6.928203,7.141428,6.324555,8.306624,6.928203,8.366600,6.708204,8.062258,7.211103,7.549834
1,5.656854,0.000000,10.198039,6.855655,6.164414,3.741657,8.000000,10.295630,7.874008,7.483315,...,7.615773,7.810250,7.483315,7.141428,7.211103,9.273618,7.810250,7.810250,5.830952,6.244998
2,8.366600,10.198039,0.000000,7.810250,11.135529,10.000000,7.483315,1.414214,9.695360,8.124038,...,7.483315,6.244998,6.928203,8.062258,6.633250,5.291503,7.280110,9.110434,9.380832,8.544004
3,3.316625,6.855655,7.810250,0.000000,8.306624,5.744563,7.810250,7.681146,5.385165,8.306624,...,5.916080,6.324555,5.000000,8.246211,5.916080,7.416198,5.477226,7.745967,7.141428,7.483315
4,6.928203,6.164414,11.135529,8.306624,0.000000,7.211103,10.954451,11.045361,10.000000,9.486833,...,9.165151,9.327379,9.165151,9.327379,8.831761,10.583005,9.327379,7.681146,8.366600,8.660254
5,6.164414,3.741657,10.000000,5.744563,7.211103,0.000000,8.717798,10.000000,6.000000,8.246211,...,7.071068,7.416198,6.928203,7.416198,6.782330,8.831761,7.280110,7.280110,6.164414,6.557439
6,6.782330,8.000000,7.483315,7.810250,10.954451,8.717798,0.000000,7.615773,10.488088,3.162278,...,9.380832,8.426150,8.944272,7.549834,8.717798,7.745967,9.219544,10.723805,8.944272,8.062258
7,8.366600,10.295630,1.414214,7.681146,11.045361,10.000000,7.615773,0.000000,10.000000,8.124038,...,7.874008,6.855655,7.211103,8.185353,7.071068,5.656854,7.549834,9.327379,9.486833,8.660254
8,7.211103,7.874008,9.695360,5.385165,10.000000,6.000000,10.488088,10.000000,0.000000,11.224972,...,5.830952,6.244998,5.656854,8.888194,5.477226,7.874008,6.082763,8.185353,7.874008,8.185353
9,6.928203,7.483315,8.124038,8.306624,9.486833,8.246211,3.162278,8.124038,11.224972,0.000000,...,9.591663,8.660254,9.380832,7.549834,9.165151,8.246211,9.643651,9.643651,8.944272,8.062258