In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
file_path = "Top 100 Private Colleges.2003.csv"

In [3]:
data = pd.read_csv(file_path)
data.head()

,Overall Rank,School,State,Undergrad. Enrollment,Admission Rate,*SAT or ACT,Student/faculty Ratio,4-year Grad. Rate,6-year Grad. Rate,Quality Rank,Total Costs,Cost After Need-based Aid,Need Met,Aid From Grants,Cost After Non-Need-Based Aid,Non-Need-Based Aid+,Average Debt,Cost Rank
0,1.0,California Institute of Technology,CA,939.0,21%,99/100%,3.0,71%,85%,10.0,"$32,682","$10,981",100%,93%,"$18,553",15%,"$10,244",4.0
1,2.0,Rice University,TX,2787.0,24%,89/92%,5.0,68%,89%,19.0,"$28,350","$14,779",100%,88%,"$22,418",34%,"$12,705",5.0
2,3.0,Williams College,MA,1985.0,23%,93/93%,8.0,89%,94%,1.0,"$36,550","$14,737",100%,89%,"$33,251",NaN,"$12,316",26.0
3,4.0,Swarthmore College,PA,1479.0,24%,94/98%,8.0,86%,92%,4.0,"$38,676","$17,386",100%,85%,"$11,404",2%,"$12,759",21.0
4,5.0,Amherst College,MA,1618.0,18%,94/92%,9.0,84%,94%,5.0,"$38,492","$14,453",100%,92%,"$33,411",NaN,"$11,544",38.0

## Data Cleaning

In [4]:
def get_nan_indices(df, col_name):
    all_idxs = set(range(len(df.index)))
    filled_idxs = set(df[col_name].dropna().index.tolist())
    return all_idxs - filled_idxs

nan_idxs = set()
for column in data.columns:
    nan_idxs = nan_idxs.union(get_nan_indices(data, column))
print(nan_idxs)

{2, 4, 6, 8, 9, 10, 11, 12, 14, 17, 18, 19, 81, 22, 87, 26, 29, 32, 33, 98, 100, 101, 36, 39, 40, 41, 42, 43, 53}

In [5]:
clean_data = data.copy()
clean_data.drop(clean_data.index[list(nan_idxs)], inplace=True)

### Further Cleaning

In [6]:
for column in clean_data.columns:
    print(column, set(clean_data[column]), sep = "\n", end="\n\n")

Overall Rank
{1.0, 2.0, 4.0, 6.0, 8.0, 14.0, 16.0, 17.0, 21.0, 22.0, 24.0, 25.0, 26.0, 28.0, 29.0, 31.0, 32.0, 35.0, 36.0, 38.0, 39.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 82.0, 84.0, 85.0, 86.0, 87.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 100.0}

School
{'Vanderbilt University', 'Taylor University', 'Whitman College', 'Rhodes College', 'Carnegie Mellon University', 'Kenyon College', 'Bowdoin College', 'Davidson College', 'Trinity College', 'Wheaton College', 'Lawrence University', 'New York University', 'Furman University', 'California Institute of Technology', 'The Colorado College', 'Union College', 'Skidmore College', 'Saint Louis University', 'Duke University', 'Rice University', 'Barnard College', 'DePauw University', 'Trinity University', "St. John's College", 'St. Olaf College', 'Brandeis University', 'Macalester College', 'Rensselaer Polytechnic Institute', 'Grinnell College', 'Gustavus Adolphus College', 'Smith College', 'Dickinson College', 'University of Rochester', 'Cooper Union', 'Washington University', 'Claremont McKenna College', 'Harvey Mudd College', 'Illinois Wesleyan University', 'The George Washington University', 'Carleton College', 'Beloit College', 'Northwestern University', 'Kalamazoo College', 'Rose-Hulman Institute of Technology', 'Rhode Island School of Design', 'Boston College', 'Webb Institute', 'University of Notre Dame', 'Tufts University', "Saint John's University", 'Scripps College', 'Bard College', 'Villanova University', 'Brigham Young University', 'University of Richmond', 'Lafayette College', 'Mount Holyoke College', 'Lehigh University', 'Hamilton College', 'Babson College', 'Johns Hopkins University', 'Hillsdale College', 'Wake Forest University', 'Washington and Lee University', 'Knox College', 'College of the Holy Cross', 'Franklin and Marshall College', 'University of Southern California', 'Swarthmore College', 'Emory University', 'Centre College', 'Case Western Reserve University', 'Oberlin College'}

State
{'NC', 'IA', 'ME', 'CA', 'TX', 'MA', 'SC', 'UT', 'VA', 'WA', 'IL', 'OH', 'IN', 'WI', 'CO', 'KY', 'MN', 'TN', 'MO', 'GA', 'NY', 'MD', 'CT', 'DC', 'MI', 'PA', 'RI'}

Undergrad. Enrollment
{1024.0, 1281.0, 6146.0, 3457.0, 1541.0, 1926.0, 7946.0, 7178.0, 1932.0, 2191.0, 4112.0, 16145.0, 5139.0, 917.0, 6302.0, 1055.0, 2848.0, 798.0, 2338.0, 19490.0, 2297.0, 1576.0, 9000.0, 939.0, 4910.0, 1454.0, 1840.0, 2098.0, 7219.0, 2998.0, 2107.0, 699.0, 1851.0, 6206.0, 67.0, 29379.0, 8261.0, 1220.0, 1479.0, 1735.0, 2506.0, 1485.0, 4045.0, 1869.0, 7375.0, 465.0, 2772.0, 2261.0, 1750.0, 2647.0, 4695.0, 10328.0, 1882.0, 2395.0, 3041.0, 4706.0, 2787.0, 2147.0, 1121.0, 2406.0, 5475.0, 2536.0, 1897.0, 1642.0, 1645.0, 1902.0, 1389.0, 3057.0, 2801.0, 1265.0, 1657.0, 2300.0}

Admission Rate
{'36%', '51%', '53%', '35%', '78%', '52%', '62%', '73%', '69%', '31%', '54%', '87%', '32%', '42%', '27%', '40%', '58%', '41%', '30%', '33%', '71%', '21%', '68%', '50%', '47%', '82%', '14%', '65%', '61%', '45%', '24%', '43%', '77%', '38%', '37%', '28%', '44%', '25%', '34%', '48%', '72%', '46%', '70%'}

*SAT or ACT
{'89/95%', '73/79%', '70%', '99/100%', '89/94%', '74%', '86/89%', '87/92%', '80/70%', '88/89%', '62/71%', '66%', '87/80%', '66/70%', '87/85%', '85/78%', '81/90%', '78/85%', '87/86%', '100/100%', '87/81%', '89/92%', '96%', '88/88%', '85/67%', '79/86%', '65/64%', '86%', '80/81%', '94/98%', '81/83%', '79/91%', '55/60%', '62/91%', '91/94%', '50/77%', '77/82%', '87/88%', '95%', '84%', '95/75%', '85/93%', '57/74%', '83/91%', '63/78%', '70/69%', '91%', '79/87%', '74/83%', '71/76%', '82%', '89%', '83/90%', '56/71%', '68/92%', '71/80%', '68/72%', '83%', '89/89%', '75/95%', '88/92%', '49/55%', '65/70%', '84/83%', '72/66%', '72%', '97/100%', '93/98%', '59/85%', '74/85%'}

Student/faculty Ratio
{3.0, 5.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 17.0, 18.0}

4-year Grad. Rate
{'51%', '74%', '60%', '53%', '67%', '78%', '52%', '62%', '31%', '88%', '86%', '81%', '58%', '63%', '0%', '71%', '59%', '57%', '76%', '68%', '80%', '79%', '82%', '89%', '65%', '75%', '61%', '77%', '83%', '49%', '72%', '48%', '70%'}

6-year Grad. Rate
{'90%', '74%', '67%', '78%', '93%', '73%', '69%', '87%', '88%', '86%', '81%', '71%', '84%', '95%', '85%', '76%', '68%', '92%', '80%', '91%', '79%', '89%', '75%', '77%', '83%', '72%'}

Quality Rank
{4.0, 10.0, 11.0, 15.0, 16.0, 17.0, 19.0, 25.0, 27.0, 29.0, 30.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 44.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0}

Total Costs
{'$39,253 ', '$36,560 ', '$38,890 ', '$38,847 ', '$9,663 ', '$28,350 ', '$34,706 ', '$37,272 ', '$36,273 ', '$37,688 ', '$34,472 ', '$37,940 ', '$35,288 ', '$32,875 ', '$35,392 ', '$37,730 ', '$28,529 ', '$38,668 ', '$39,173 ', '$35,670 ', '$32,847 ', '$30,225 ', '$32,682 ', '$31,460 ', '$36,079 ', '$37,937 ', '$29,430 ', '$8,079 ', '$37,246 ', '$37,968 ', '$29,983 ', '$36,635 ', '$36,455 ', '$36,500 ', '$39,200 ', '$38,838 ', '$40,105 ', '$32,150 ', '$38,460 ', '$37,745 ', '$24,723 ', '$39,101 ', '$36,580 ', '$14,652 ', '$27,820 ', '$38,676 ', '$27,272 ', '$38,282 ', '$39,188 ', '$40,080 ', '$38,880 ', '$30,264 ', '$27,086 ', '$35,275 ', '$32,802 ', '$38,817 ', '$27,076 ', '$30,917 ', '$38,463 ', '$32,625 ', '$29,879 ', '$30,894 ', '$38,443 ', '$40,240 ', '$30,780 ', '$31,679 ', '$23,353 ', '$30,080 ', '$36,600 ', '$38,663 ', '$33,776 ', '$36,851 ', '$35,713 '}

Cost After Need-based Aid
{'$28,282 ', '$21,455 ', '$21,316 ', '$14,779 ', '$26,447 ', '$17,609 ', '$18,466 ', '$24,470 ', '$21,081 ', '$18,323 ', '$17,386 ', '$15,147 ', '$18,858 ', '$7,621 ', '$19,544 ', '$19,123 ', '$16,706 ', '$17,988 ', '$19,474 ', '$25,866 ', '$18,899 ', '$16,585 ', '$24,689 ', '$16,394 ', '$15,678 ', '$18,431 ', '$28,677 ', '$10,981 ', '$13,853 ', '$21,940 ', '$17,773 ', '$17,588 ', '$17,984 ', '$19,142 ', '$19,657 ', '$21,176 ', '$16,516 ', '$17,452 ', '$18,011 ', '$22,041 ', '$21,606 ', '$20,971 ', '$26,463 ', '$15,842 ', '$20,376 ', '$19,753 ', '$20,925 ', '$17,826 ', '$20,115 ', '$19,667 ', '$21,677 ', '$22,257 ', '$19,268 ', '$17,458 ', '$15,494 ', '$20,297 ', '$23,846 ', '$17,905 ', '$15,452 ', '$21,023 ', '$22,360 ', '$11,167 ', '$21,196 ', '$19,996 ', '$5,579 ', '$16,296 ', '$17,882 ', '$17,947 ', '$16,902 ', '$15,531 ', '$20,700 ', '$20,558 ', '$17,341 '}

Need Met
{'90%', '60%', '20%', '99%', '69%', '100%', '87%', '96%', '88%', '40%', '86%', '81%', '71%', '84%', '95%', '97%', '76%', '92%', '91%', '77%', '83%', 'NA%', '94%', '70%', '98%'}

Aid From Grants
{'74%', '53%', '67%', '78%', '93%', '62%', '66%', '73%', '100%', '87%', '88%', '27%', '86%', '81%', '63%', '64%', '71%', '85%', '57%', '76%', '68%', '80%', '79%', '82%', '65%', '75%', '77%', '83%', '56%', '72%', '46%', '70%'}

Cost After Non-Need-Based Aid
{'$33,390 ', '$21,467 ', '$21,813 ', '$23,049 ', '$33,355 ', '$23,690 ', '$28,720 ', '$22,063 ', '$32,968 ', '$37,663 ', '$33,701 ', '$22,678 ', '$28,630 ', '$25,254 ', '$28,306 ', '$20,907 ', '$19,645 ', '$26,683 ', '$23,312 ', '$21,205 ', '$21,296 ', '$29,438 ', '$26,599 ', '$23,095 ', '$27,419 ', '$11,404 ', '$25,952 ', '$36,538 ', '$27,438 ', '$20,230 ', '$25,660 ', '$21,977 ', '$21,227 ', '$26,304 ', '$8,079 ', '$22,418 ', '$21,193 ', '$23,338 ', '$24,255 ', '$21,714 ', '$31,570 ', '$14,653 ', '$23,615 ', '$25,093 ', '$24,515 ', '$16,455 ', '$28,381 ', '$29,638 ', '$16,853 ', '$34,477 ', '$28,411 ', '$29,161 ', '$25,183 ', '$37,477 ', '$21,355 ', '$32,160 ', '$30,581 ', '$19,002 ', '$24,751 ', '$21,687 ', '$25,050 ', '$25,776 ', '$30,308 ', '$28,368 ', '$29,916 ', '$20,538 ', '$18,553 ', '$27,245 ', '$6,523 ', '$23,231 ', '$33,222 ', '$24,206 ', '$32,890 '}

Non-Need-Based Aid+
{'36%', '60%', '53%', '67%', '35%', '20%', '66%', '31%', '100%', '54%', '17%', '42%', '11%', '27%', '40%', '58%', '81%', '12%', '4%', '55%', '15%', '1%', '30%', '33%', '76%', '22%', '68%', '50%', '92%', '26%', '82%', '2%', '14%', '6%', '19%', '65%', '39%', '45%', '24%', '9%', '7%', '10%', '13%', '8%', '38%', '25%', '23%', '34%', '48%', '72%', '5%'}

Average Debt
{'$14,200 ', '$15,307 ', '$20,000 ', '$21,830 ', '$16,920 ', '$15,864 ', '$20,619 ', '$0 ', '$13,697 ', '$15,499 ', '$20,219 ', '$16,972 ', '$17,380 ', '$9,250 ', '$17,000 ', '$16,732 ', '$14,500 ', '$15,560 ', '$20,850 ', '$24,590 ', '$19,911 ', '$11,000 ', '$18,311 ', '$24,023 ', '$10,244 ', '$19,656 ', '$16,115 ', '$14,551 ', '$19,195 ', '$17,675 ', '$17,741 ', '$12,759 ', '$24,769 ', '$16,914 ', '$18,806 ', '$14,942 ', '$13,926 ', '$21,125 ', '$14,030 ', '$16,063 ', '$15,100 ', '$14,481 ', '$13,854 ', '$15,725 ', '$20,025 ', '$20,680 ', '$21,495 ', '$28,217 ', '$13,600 ', '$15,117 ', '$15,400 ', '$13,500 ', '$20,753 ', '$12,705 ', '$14,989 ', '$17,586 ', '$5,700 ', '$14,300 ', '$17,400 ', '$15,634 ', '$14,543 ', '$17,722 ', '$16,856 ', '$12,941 ', '$15,000 ', '$27,000 ', '$25,595 '}

Cost Rank
{1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 36.0, 37.0, 39.0, 40.0, 41.0, 42.0, 45.0, 48.0, 49.0, 50.0, 51.0, 52.0, 54.0, 55.0, 56.0, 58.0, 60.0, 61.0, 63.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 78.0, 79.0, 80.0, 81.0, 83.0, 86.0, 87.0, 90.0, 94.0, 96.0, 100.0}

In [7]:
idxs = clean_data.index
na_vals = (clean_data['Need Met'] == "NA%").tolist()
na_idxs = []
for idx, val in zip(idxs, na_vals):
    if val:
        na_idxs.append(idx)
print(na_idxs)

[84]

In [8]:
clean_data.drop(na_idxs, inplace=True)

### Splitting SAT and ACT

In [9]:
col = clean_data['*SAT or ACT']
indx = clean_data.index
idxs = [] # indices of rows having incomplete values
for idx, val in zip(indx, col):
    if "/" not in val:
        idxs.append(idx)
    
print("Indexes with incomplete data ", idxs)
clean_data.drop(idxs, inplace=True)

Indexes with incomplete data  [38, 45, 46, 59, 60, 63, 64, 68, 69, 73, 78, 80, 85]

In [10]:
#function for converting sat or act to sat data in new column
def satconverter(x):
    if '/' in x:
        return float(x.split('/')[0])
#function for converting sat or act to act data in new column
def actconverter(x):
    if '/' in x:
        return float(x.split('/')[1].replace("%", ""))

In [11]:
clean_data['SAT'] = clean_data['*SAT or ACT'].apply(satconverter)
clean_data['ACT'] = clean_data['*SAT or ACT'].apply(actconverter)
clean_data.drop('*SAT or ACT', axis=1, inplace=True)

In [12]:
# Function for removing $ nad , signs.
def money_str_to_int(x):
    temp = x
    temp = temp.replace(',', '')
    temp = temp.replace('$', '')
    temp = int(temp)
    return temp

In [13]:
# Function for removing $ nad , signs.
def percent_str_to_int(x):
    temp = x
    temp = temp.replace('%', '')
    temp = int(temp)
    return temp

In [14]:
money_cols = ['Total Costs', 'Cost After Need-based Aid', 'Cost After Non-Need-Based Aid', 'Average Debt']

for col in money_cols:
    clean_data[col] = clean_data[col].apply(money_str_to_int)

In [15]:
percent_cols = ['Admission Rate', '4-year Grad. Rate', '6-year Grad. Rate',
                'Need Met', 'Non-Need-Based Aid+', 'Aid From Grants']

for col in percent_cols:
    clean_data[col] = clean_data[col].apply(percent_str_to_int)

In [16]:
clean_data.head()

,Overall Rank,School,State,Undergrad. Enrollment,Admission Rate,Student/faculty Ratio,4-year Grad. Rate,6-year Grad. Rate,Quality Rank,Total Costs,Cost After Need-based Aid,Need Met,Aid From Grants,Cost After Non-Need-Based Aid,Non-Need-Based Aid+,Average Debt,Cost Rank,SAT,ACT
0,1.0,California Institute of Technology,CA,939.0,21,3.0,71,85,10.0,32682,10981,100,93,18553,15,10244,4.0,99.0,100.0
1,2.0,Rice University,TX,2787.0,24,5.0,68,89,19.0,28350,14779,100,88,22418,34,12705,5.0,89.0,92.0
3,4.0,Swarthmore College,PA,1479.0,24,8.0,86,92,4.0,38676,17386,100,85,11404,2,12759,21.0,94.0,98.0
5,6.0,Webb Institute,NY,67.0,42,7.0,79,83,39.0,8079,5579,20,100,8079,100,5700,1.0,100.0,100.0
7,8.0,Washington and Lee University,VA,1750.0,31,11.0,86,89,30.0,30225,15452,99,87,22063,31,15634,9.0,89.0,89.0

# Q1. Normalize each attribute of college dataset into range 0 to 1 (Refer to slides to do min-max normalization).

In [17]:
def normalise(df, col_name):
    min_val = min(df[col_name])
    max_val = max(df[col_name])
    
    range_ = max_val - min_val
    
    df[col_name] = (df[col_name] - min_val) / range_

In [18]:
normalised_data_frame = clean_data.copy()

norm_cols = ['Undergrad. Enrollment', 'Admission Rate', 
             'Student/faculty Ratio', '4-year Grad. Rate', '6-year Grad. Rate',
             'Total Costs','Cost After Need-based Aid', 'Need Met', 'Aid From Grants',
        'Cost After Non-Need-Based Aid', 'Non-Need-Based Aid+', 'Average Debt', 'SAT', 'ACT']

for col in norm_cols:
    normalise(normalised_data_frame, col)

In [19]:
normalised_data_frame.head()

,Overall Rank,School,State,Undergrad. Enrollment,Admission Rate,Student/faculty Ratio,4-year Grad. Rate,6-year Grad. Rate,Quality Rank,Total Costs,Cost After Need-based Aid,Need Met,Aid From Grants,Cost After Non-Need-Based Aid,Non-Need-Based Aid+,Average Debt,Cost Rank,SAT,ACT
0,1.0,California Institute of Technology,CA,0.044895,0.109375,0.000000,0.797753,0.629630,10.0,0.764995,0.233873,1.0000,0.904110,0.354043,0.141414,0.363044,4.0,0.980392,1.000000
1,2.0,Rice University,TX,0.140040,0.156250,0.142857,0.764045,0.777778,19.0,0.630298,0.398303,1.0000,0.835616,0.484688,0.333333,0.450260,5.0,0.784314,0.822222
3,4.0,Swarthmore College,PA,0.072697,0.156250,0.357143,0.966292,0.888889,4.0,0.951370,0.511170,1.0000,0.794521,0.112392,0.010101,0.452174,21.0,0.882353,0.955556
5,6.0,Webb Institute,NY,0.000000,0.437500,0.285714,0.887640,0.555556,39.0,0.000000,0.000000,0.0000,1.000000,0.000000,1.000000,0.202006,1.0,1.000000,1.000000
7,8.0,Washington and Lee University,VA,0.086650,0.265625,0.571429,0.966292,0.777778,30.0,0.688598,0.427440,0.9875,0.821918,0.472688,0.303030,0.554063,9.0,0.784314,0.755556

# Q2. Implement information gain analysis on the colleges dataset to find the gain of each attribute as covered in the class.

In [20]:
# Three categories corresponding to low, medium, high
rank_categ = [(1, 33), (34, 67), (68, 100)]
norm_categ = [(0, 0.33), (0.34, 0.67), (0.68, 1)]

In [21]:
rank_cols = ['Overall Rank', 'Cost Rank', 'Quality Rank']

norm_cols = ['Undergrad. Enrollment', 'Admission Rate', 'Student/faculty Ratio', '4-year Grad. Rate', 
        '6-year Grad. Rate', 'Total Costs','Cost After Need-based Aid', 'Need Met', 'Aid From Grants',
        'Cost After Non-Need-Based Aid', 'Non-Need-Based Aid+', 'Average Debt', 'SAT', 'ACT']

In [22]:
def information(vals):
    info = 0
    s = sum(vals)
    for x in vals:
        p = x/s
        if p != 0:
            info -= p * math.log(p, 2)
    return info

In [23]:
def entropy(p, info):
    ent = 0
    for i in range(len(p)):
        ent += p[i] * info[i]
    return ent

In [24]:
states = normalised_data_frame['State'].unique()
print(states)

['CA' 'TX' 'PA' 'NY' 'VA' 'GA' 'NC' 'IL' 'ME' 'MD' 'MO' 'IN' 'CO' 'MN'
 'IA' 'OH' 'MA' 'SC' 'CT' 'TN' 'WA' 'RI' 'DC']

In [25]:
state_count = normalised_data_frame['State'].value_counts().tolist()

In [26]:
state_information = information(state_count)
print('Information = ', state_information)

Information =  4.045413340232901

In [27]:
total_records = len(normalised_data_frame)

In [28]:
for col in norm_cols:
    infos = [] # information
    probs = [] # probabilities
    
    data_col = normalised_data_frame[col]
    
    for low, hi in norm_categ:
        freq_list = [] # frequencies of records satisfying the category and state
        req_categ = data_col.between(low, hi, inclusive=True)
        for state in states:
            state_rec = req_categ.loc[normalised_data_frame['State'] == state].tolist()
            freq = sum(state_rec)
            freq_list.append(freq)
        infos.append(information(freq_list))
        probs.append(sum(freq_list) / total_records)
    
    # Calculate entropy for this column
    entrpy = entropy(probs, infos)
    gain = state_information - entrpy
    print("Gain({}) = {}".format(col, gain))

Gain(Undergrad. Enrollment) = 0.32092490940388974
Gain(Admission Rate) = 0.5517704556255469
Gain(Student/faculty Ratio) = 0.47370066625532337
Gain(4-year Grad. Rate) = 0.4288020592904811
Gain(6-year Grad. Rate) = 0.9006836830424207
Gain(Total Costs) = 0.41147245545127653
Gain(Cost After Need-based Aid) = 0.6279496275293859
Gain(Need Met) = 0.20969660534392753
Gain(Aid From Grants) = 0.6440307360837498
Gain(Cost After Non-Need-Based Aid) = 0.5432867778666317
Gain(Non-Need-Based Aid+) = 0.6031368307054676
Gain(Average Debt) = 0.543601539010218
Gain(SAT) = 0.8305841041020168
Gain(ACT) = 0.7980571038113808

In [29]:
for col in rank_cols:
    infos = [] # information
    probs = [] # probabilities
    
    data_col = normalised_data_frame[col]
    
    for low, hi in rank_categ:
        freq_list = [] # frequencies of records satisfying the category and state
        req_categ = data_col.between(low, hi, inclusive=True)
        for state in states:
            state_rec = req_categ.loc[normalised_data_frame['State'] == state].tolist()
            freq = sum(state_rec)
            freq_list.append(freq)
        infos.append(information(freq_list))
        probs.append(sum(freq_list) / total_records)
    
    # Calculate entropy for this column
    entrpy = entropy(probs, infos)
    gain = state_information - entrpy
    print("Gain({}) = {}".format(col, gain))

Gain(Overall Rank) = 0.6545869443348256
Gain(Cost Rank) = 0.6604397204024708
Gain(Quality Rank) = 0.6555037878503662