# Exercise 1

In [1]:
10 + 15

25

In [2]:
print("Hello World")

Hello World

In [3]:
45 - 34

11

In [4]:
8 * 2

16

In [5]:
print("Rahul's age is", 45)

Rahul's age is 45

In [6]:
print("I have", 10, "mangoes and", 12, "bananas")

I have 10 mangoes and 12 bananas

In [7]:
emp_number = 1233
print("Employee Number:", emp_number)

emp_salary = 16745.5 
emp_name = "Jerry Squaris"
print("Employee Salary and Name:", emp_salary, emp_name)

emp_salary = 23450.34
print("Updated Employee Salary :", emp_salary)

Employee Number: 1233
Employee Salary and Name: 16745.5 Jerry Squaris
Updated Employee Salary : 23450.34

In [8]:
customer_id = 101 
print(type(customer_id))

<class 'int'>

In [9]:
customer_name = "John" 
type(customer_name)

str

In [10]:
bill_amount = 675.45 
type( bill_amount )

float

In [11]:
x = 5.3 + 0.9j 
type(x)

complex

In [12]:
print(customer_id, customer_name, bill_amount) 
print(x.real) 
print(x.imag + 3)

101 John 675.45
5.3
3.9

In [13]:
Flag = True
type(Flag)

bool

In [14]:
y = "False"
type(y)

str

In [15]:
bill_id = int(input("Enter the Bill ID :"))
customer_id = int(input("Enter the Custormer ID :"))
customer_name = str(input("Enter the Customer Name :"))
is_minor = bool(input("Is Customer Minor :"))
bill_amount = float(input("Enter the bill amouont :"))

print("\nCustomer Details")
print("Bill ID :", bill_id)
print("Customer Name :", customer_name)
print("Customer ID :", customer_id)
print("Is Customer Minor :", is_minor)
print("Bill Amount", bill_amount)

Enter the Bill ID :101
Enter the Custormer ID :1001
Enter the Customer Name :Rahul
Is Customer Minor :False
Enter the bill amouont :2000.50

Customer Details
Bill ID : 101
Customer Name : Rahul
Customer ID : 1001
Is Customer Minor : True
Bill Amount 2000.5

In [16]:
num1 = int(input("Enter First Number :")) + 4
num2 = int(input("Enter Second Number :")) + 6
sum_number = num1 + num2
print(sum_number)

Enter First Number :54
Enter Second Number :35
99

In [17]:
a = 10
b = 18

print("Before Swaping\n","a =",a,"\n b =",b)

a = a + b
b = a - b
a = a - b

print("After Swaping\n","a =",a,"\n b =",b)

Before Swaping
 a = 10
 b = 18
After Swaping
 a = 18
 b = 10

In [18]:
def avg(m1,m2,m3):
    print("Average Marks :",(m1+m2+m3)/3)

student_name = str(input("Enter the Student Name :"))
marks1 = int(input("Enter Marks 1:"))
marks2 = int(input("Enter Marks 2:"))
marks3 = int(input("Enter Marks 3:"))

avg(marks1,marks2,marks3)

sub = int(input("Subject Number to change marks in subject"))
if(sub == 1):
    marks1 = int(input("Enter Marks 1:"))
elif(sub == 2):
    marks2 = int(input("Enter Marks 2:"))
else:
    marks3 = int(input("Enter Marks 3:"))

avg(marks1,marks2,marks3)

Enter the Student Name :John
Enter Marks 1:95
Enter Marks 2:85
Enter Marks 3:88
Average Marks : 89.33333333333333
Subject Number to change marks in subject2
Enter Marks 2:86
Average Marks : 89.66666666666667

In [19]:
r = float(input("Enter the Radius of the Circle :"))
pi = 3.14

area = pi*r*r
perimeter = 2*pi*r
print("Area of the Circle :", area)
print("Perimeter of the Circle :", perimeter)

Enter the Radius of the Circle :7
Area of the Circle : 153.86
Perimeter of the Circle : 43.96

In [20]:
def Monthlypay(hrs_per_week,payrate,weeks):
    return hrs_per_week * payrate * weeks
while True :
    empno = input("Enter Employee Number :")
    hrs = int(input("Enter hours worked per week :"))
    payrate = float(input("Enter the Payrate per hour :"))
    weeks = int(input("Enter the number of weeks worked :"))
    print("Monthly Salary of the Employee with Employee Number",empno, "is", Monthlypay(hrs,payrate,weeks))
    choice = input("calculate salary of othe employees ? (y/n) :")
    if choice == 'n' or choice == 'N':
        break

Enter Employee Number :101
Enter hours worked per week :40
Enter the Payrate per hour :400
Enter the number of weeks worked :4
Monthly Salary of the Employee with Employee Number 101 is 64000.0
calculate salary of othe employees ? (y/n) :n

In [21]:
for i in range(50,80+1):
    if i%2 == 0:
        print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80

In [22]:
n = int(input("Enter Value of n :"))
if n < 1:
    print("n is not a natural number")
else:
    sum_val = 0
    for i in range(1,n+1):
        sum_val += i
    print("Value of Sum upto ",n, "is" ,sum_val)

Enter Value of n :4
Value of Sum upto  4 is 10

In [27]:
n = int(input("Enter the number :"))
fl = False
if n == 1:
    fl = True
for i in range(2,int(n/2)):
    if n % i == 0:
        fl = True
    if fl:
        break
if fl:
    print("The number is not prime")
else:
    print("The number is prime")

Enter the number :433
The number is prime

In [28]:
b = 0
a = 1
n = int(input("Enter the Value of n :"))
print(n,"Elements in the fibonacci series are :")
if n >= 1:
    print(b)
    
if n >= 2:
    print(a)

if n >= 3:
    for i in range(2,n):
        t = a
        a = a + b
        b = t
        print(a)

Enter the Value of n :20
20 Elements in the fibonacci series are :
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181