<b> Question 1: <b>

In [1]:
strings = str(input("Enter the string : "))

Enter the string : How many cookies could a good cook cook If a good cook could cook cookies? A good cook could cook as much cookies as a good cook who could cook cookies.

In [2]:
import string
def wordfreq(text):
    text = text.lower()
    st = ''
    for i in text:
        if i not in string.punctuation:
            st += i
    words = st.split()
    freq = {}
    for word in words:
        if word not in freq:
            freq[word] = 1
        else:
            freq[word] += 1
    for i in freq:
        print(freq[i],"\t",i)

In [3]:
wordfreq(strings)

1 	 how
1 	 many
4 	 cookies
4 	 could
4 	 a
4 	 good
8 	 cook
1 	 if
2 	 as
1 	 much
1 	 who

<b> Question 2: <b>

In [4]:
Student = {'UE183001': 'Avish',
           'UE183002': 'Bhavya',
           'UE183003': 'Tanya',
           'UE183004': 'Shaswat',
           'UE183005': 'Shivank',
           'UE183006': 'Pratik',
           'UE183007': 'Shubham',
           'UE183008': 'Naman',
           'UE183009': 'Shubh',
           'UE183010': 'Sindhiya'
          }

Marks = [('UE183001', 'CS', 94 ), ('UE183001', 'RV', 94 ), 
         ('UE183002', 'CS', 64 ), ('UE183002', 'RV', 74 ),
         ('UE183003', 'CS', 64 ), ('UE183003', 'RV', 68 ),
         ('UE183004', 'CS', 78 ), ('UE183004', 'RV', 88 ),
         ('UE183005', 'CS', 87 ), ('UE183005', 'RV', 85 ),
         ('UE183006', 'CS', 89 ), ('UE183006', 'RV', 88 ),
         ('UE183007', 'CS', 75 ), ('UE183007', 'RV', 98 ),
         ('UE183008', 'CS', 77 ), ('UE183008', 'RV', 78 ),
         ('UE183009', 'CS', 78 ), ('UE183009', 'RV', 68 ),
         ('UE183010', 'CS', 98 ), ('UE183010', 'RV', 59 )       
         ]

In [5]:
def total_marks(st_data, mk_data):
    for i in st_data:
        sumval=0
        for j in mk_data:
            if i in j:
                sumval+=j[2]
        print(st_data[i],sumval)

In [6]:
total_marks(Student ,Marks)

Avish 188
Bhavya 138
Tanya 132
Shaswat 166
Shivank 172
Pratik 177
Shubham 173
Naman 155
Shubh 146
Sindhiya 157

<b> Question 3: <b>

In [7]:
def dateconv(date):
    d = date.split('-')
    month = {'JAN' : 1, 'FEB' : 2, 'MAR' : 3, 'APR' : 4, 'MAY' : 5, 'JUN' : 6,
             'JUL' : 7, 'AUG' : 8, 'SEP' : 9, 'OCT' : 10, 'NOV' : 11, 'DEC' : 12,
            }
    if int(d[2])<19:
        d[2] = int(d[2])+2000
    else:
        d[2] = int(d[2])+1900
        
    return (int(d[2]),month[d[1]],int(d[0]))

In [8]:
date = input("Enter Date :")
d = dateconv(date)
print(d)

Enter Date :8-MAR-85
(1985, 3, 8)

<b> Question 4: <b>

In [9]:
dictionary = {}
for i in range(1,7):
    for j in range(1,7):
        if i+j in dictionary:
            dictionary[i+j].append((i,j))
        else:
            dictionary[i+j] = [(i,j)]
print("Key","\tLength")
for val in dictionary:
    print(val,'\t  ',len(dictionary[val]))

Key 	Length
2 	   1
3 	   2
4 	   3
5 	   4
6 	   5
7 	   6
8 	   5
9 	   4
10 	   3
11 	   2
12 	   1